@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'bootstrap/scss/_variables.scss';


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ff99ad;
    color: #5e3370;
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

hr{
    border-color: #000000;
    border-width: 2px;

}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
header {
    background-color: #ff99ad;
    color: #5e3370;
    padding: 20px 0;
    text-align: center;
}
h1 {
    font-family: 'Madimi One', serif;
    margin-top: 0;
    margin-bottom: 0.25rem;
    line-height: 1.2;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px 0;
    color: #5e3370;
}

h3 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    margin: 10px auto;
}
p {
    line-height: 1.6;
}
.section {
    margin-bottom: 20px;
}
.highlight {
    color: #C2185B;
}
footer {
    background-color: #fc7995;
    color: #880E4F;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
